.adder-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.6rem;
}

.adder-wrapper .header {
    text-align: center;
    color: white;
    background-color: #008ba3 !important; /* Cyan500 dark */
    margin: -1.6rem;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    padding-bottom: calc(1.6rem + 32px);
    position: relative;
}

.adder-wrapper .header a {
    color: white !important;
}

.adder-wrapper .header .logo-wrapper {
    background-color: #ff4081;
    border-radius: 50%;
    width: 64px;
    height:64px;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 8px);
}

.adder-wrapper .content {
    margin-top: calc(1.6rem + 32px);
}

.adder-wrapper .content .create-button {
    margin-top: .8rem !important;
}
