.editor-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.editor-wrapper .right-section {
    width: 70%;
    margin-left: calc(30% + 2rem);
    height: 100%;
}

.editor-wrapper .right-section .diagram-comp-wrapper {
    height: 80%;
    width: 100%;
}

.editor-wrapper .add-slide-button {
    position: absolute;
    bottom: 1.6rem;
    right: 2rem;
}