.editor-toolbar {
  /* cyan200 light -> cyan500 */
  background: linear-gradient(to right, #80deea, #00bcd4);
  overflow: hidden;
  height: 56px;
}

.editor-toolbar .logo-wrapper {
  background-color: #ff4081;
  border-radius: 0 50% 50% 0;
  width: 92px;
  height: 92px;
  padding: 1rem;
  /* Negative margins to remove toolbar padding */
  margin-left: -24px;
  position: relative;
  cursor: pointer;
}

.editor-toolbar .logo-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 52px;
  width: auto;
}

.editor-toolbar .action-button {
  margin: 0 0 0 1.6rem !important;
}

.editor-toolbar .title {
  margin-left: 1.6rem;
}
