.static-slide {
    width: 200px;
    height: 113px; /* 16:9 */
    position: relative;
    margin: 1rem 0 .8rem 1rem;
    cursor: pointer;
    display: inline-block;
}

.static-slide .title {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom:0;
    width: calc(100% - 2rem);
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
}

.static-slide .remove-button {
    position: absolute !important;
    top:0;
    right:0;
    transform: translate(50%, -50%);
}