.static-slide {
    width: 250px;
    height: calc(100% - .6rem);
    position: relative;
    margin-right: .8rem;
    margin-bottom: .6rem;
    cursor: pointer;
    display: inline-block;
}

.static-slide .title {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom:0;
    width: calc(100% - 2rem);
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
}