.viewer-controls {
    margin: .6rem 1rem;
    width: calc(100% - 1.2rem);
    position: absolute;
    bottom: 0;
    right: 0;
}

.viewer-controls .right {
    float: right;
}

.viewer-controls .left {
    float: left;
}