.creator-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.creator-wrapper .editor-toolbar {
    width: 100%;
    height: 56px;
    overflow: hidden;
}

.creator-wrapper .editor-panel {
    top: 56px !important;
    height: calc(100% - 56px) !important;
}

.creator-wrapper .right-section {
    width: 70%;
    margin-left: calc(30% + 2rem);
    height: calc(100% - 56px);
}

.creator-wrapper .right-section .diagram-comp-wrapper {
    height: 80%;
    width: 100%;
}

.creator-wrapper .add-slide-button {
    position: absolute;
    bottom: 10%;
    transform: translateY(50%);
    right: 3rem;
}