.creator-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.creator-wrapper .left-section,.right-section {
    height: 100%;
}

.creator-wrapper .left-section {
    width: 30%;
    float: left;
}

.creator-wrapper .right-section {
    width: 70%;
    margin-left: calc(30%);
    height: calc(100% - 56px);
}

.creator-wrapper .right-section .diagram-comp-wrapper {
    height: 80%;
    width: 100%;
}

.creator-wrapper .add-slide-button {
    position: absolute;
    bottom: 10%;
    transform: translateY(50%);
    right: 3rem;
}