.creator-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.creator-wrapper .left-section,.right-section {
    height: 100%;
}

.creator-wrapper .left-section {
    width: 30%;
    float: left;
}

.creator-wrapper .right-section {
    width: 70%;
    margin-left: calc(30%);
    height: calc(100% - 56px);
}

.creator-wrapper .right-section .slide {
    width: calc(100% - 4rem);
    position: relative;
    margin: 2rem;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.creator-wrapper .right-section .slide .content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.creator-wrapper .add-slide-button {
    position: absolute;
    bottom: 10%;
    transform: translateY(50%);
    right: 3rem;
}